.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}

.footer {
  grid-row-start: 3;
  display: flex;
  gap: 24px;
}

/* FIGURE STYLES agregar los estilos para la card*/
.body{
  min-height: 100%;
}

/* .section{
  display: flex;
} */
.figure{
  padding: 2rem;
  display: flex;
  margin: 0 auto;
  max-width: 80%;
  border: 1px solid #01568E;
  background-color: #b4c8d8;
}

.figure img{
  width: 100%;
  height: auto;
  max-width: 50%;
  object-fit: cover;
  border: 1px solid #01568E;
}

.ide{
  font-size: 1.3rem;
  background-color: #01568E;
  color: #B4C8D8;
}

.figcaption{
  font-family: 'Courier New', Courier, monospace;
  color: #01568E;
  border: 1px solid #01568E;
}

.caption_container{
  position:relative
}

.caption_container span{
  position:absolute;
  top:0;
  right:0;
  padding: 0.5rem 1rem;
  height: 40px;
}

.figcaption_title{
  text-transform: uppercase;
  font-size: 1.8rem;
  border-bottom: 1px solid #01568E;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top:40px;
  padding-bottom: 2px;
}

.figcaption_subtitle{
  font-size: 1.3rem;
  border-bottom: 1px solid #01568E;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 10px;
  padding-bottom: 2px;
}

.figcaption_text{
  font-size: 1rem;
  border-bottom: 1px solid #01568E;
  padding-left: 2rem;
  padding-right: 2rem;
  height: 222px;
  padding-top: 10px;
}

.figcaption_info{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 2rem;
  height: 222px;
}

.left_list{
  padding-top: 10px;  
}

.left_list li::marker{
  display: none;
  color:#B4C8D8
}

.right_list{
  text-transform: uppercase;
  font-size: 1rem;
  border-left: 1px solid #01568E;
}

.right_list li{
  border-bottom: 1px solid #01568E;
  padding: 5px 2rem;
}

.right_list li::marker{
  display: none;
  color:#B4C8D8
}


/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
  .main {
    align-items: center;
  }
  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
